ROBOT_BASE_URL=http://localhost:5173 #https://stagingdev.netlify.app / http://localhost:5173

ROBOT_USERNAME= #Member Email
ROBOT_PASSWORD= #Member Password
ROBOT_ADMIN_USERNAME= #Admin Email
ROBOT_ADMIN_PASSWORD= #Admin Password
ROBOT_BROWSER=chrome #headlesschrome or chrome
