PORT=5000
ENV=dev #dev or prod

SUPABASE_URL=
SUPABASE_DIRECT=

DATABASE_URL=postgres://app:app@localhost:5432/app
LOCALDB_URL=postgres://app:app@localhost:5432/app
LOCALDB_DIRECT=postgres://app:app@localhost:5432/app
