PORT=5000
ENV=dev #dev or prod
HOST=127.0.0.1
FLASK_RUN_HOST=127.0.0.1

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=UserUploads
SUPABASE_STORAGE_PUBLIC=true

DATABASE_URL=postgresql://app:app@localhost:5432/app
MAX_UPLOAD_MB=10
